[submodule "homedir/.oh-my-zsh"]
	path = .dotfiles/homedir/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".dotfiles/nvim/.config/nvim/pluggedYouCompleteMe"]
	path = .dotfiles/nvim/.config/nvim/pluggedYouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
