[submodule ".oh-my-zsh"]
	path = .dotfiles/homedir/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git

[submodule "coc.nvim"]
	path = .dotfiles/nvim/.config/nvim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim
